
<button (click)="changeAlerts()">Change Alerts</button>

<mat-card *ngIf="selectedAlert" class="custom-card">
  <mat-card-content>
    <app-success-alert></app-success-alert>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!selectedAlert" class="custom-card">
  <mat-card-content>
    <app-warning-alert></app-warning-alert>
  </mat-card-content>
</mat-card>

<label for="repeatCount">Repeat Count:</label>
<mat-select [(ngModel)]="repeatCount">
    <mat-option *ngFor="let count of repeatOptions" [value]="count">{{ count }}</mat-option>
</mat-select>

<mat-card >
    <mat-card-content *ngIf="selectedAlert" >
        <app-success-alert *ngFor="let index of getRepeatArray()"></app-success-alert>
    </mat-card-content>
    <mat-card-content *ngIf="!selectedAlert" >
      <app-warning-alert *ngFor="let index of getRepeatArray()"></app-warning-alert>
  </mat-card-content>
</mat-card>


